<launch>

  <!-- REALSENSE D435i -->
  <include file="$(find stretch_core)/launch/d435i_basic.launch" pass_all_args="true">
    <!--
	HIGHEST RESOLUTION, but also has the highest minimum depth
	(280mm Min-Z) below which objects generate bad noise, such as
	when the arm and gripper are raised close to the camera.
    -->
    <arg name="depth_width" value="1280"/>
    <arg name="depth_height" value="720"/>
    <arg name="color_width" value="1280"/>
    <arg name="color_height" value="720"/>
  </include> 

  <!-- REALSENSE D435i Model Load -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find realsense2_description)/urdf/test_d435i_camera.urdf.xacro' use_nominal_extrinsics:=true" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- RVIZ Visualization -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find stretch_camera_testrig)/rviz/rviz.rviz"/>

  <!-- ARUCO MARKER DETECTOR -->
  <rosparam command="load" file="$(find stretch_core)/config/stretch_marker_dict.yaml" />
  <node name="detect_aruco_markers" pkg="stretch_core" type="detect_aruco_markers" output="screen"/>

  <!-- ARUCO Marker Actual Poses in Testrig -->
  <rosparam command="load" file="$(find stretch_camera_testrig)/config/testrig_marker_info.yaml" />

  <!-- Test Rig Node -->
  <!-- <node name="test_rig_node" pkg="stretch_camera_testrig" type="test_basic.py" output="screen"/> -->
  
</launch>