<launch>

  <arg name="rviz" default="false"/>
  <arg name="samples" default="600"/>
  <arg name="testrig_data_directory" default="$(find stretch_camera_testrig)/data/"/>

  <!-- ARUCO Marker Actual Poses in Testrig -->
  <rosparam command="load" file="$(find stretch_camera_testrig)/config/testrig_marker_info.yaml" />

  <!-- REALSENSE D435i -->
  <include file="$(find stretch_core)/launch/d435i_high_resolution.launch"></include>
  <node name="d435i_configure" pkg="stretch_core" type="d435i_configure" output="screen">
    <param name="initial_mode" type="string" value="High Accuracy"/>
  </node>

  <!-- REALSENSE D435i Model Load -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find realsense2_description)/urdf/test_d435i_camera.urdf.xacro' use_nominal_extrinsics:=false" />

  <node
      name="robot_state_publisher"
      pkg="robot_state_publisher"
      type="robot_state_publisher" >
    <param name="publish_frequency" value="15.0"/>
  </node>

  <!-- ARUCO MARKER DETECTOR -->
  <rosparam command="load" file="$(find stretch_core)/config/stretch_marker_dict.yaml" />
  <node name="detect_aruco_markers" pkg="stretch_core" type="detect_aruco_markers" output="screen"/>

  <!-- Optional RVIZ Visualization -->
  <group if="$(arg rviz)">
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find stretch_camera_testrig)/rviz/rviz.rviz" required="true"/>
  </group>

  <!-- Main Test Rig Node -->
  <node name="test_rig_node" pkg="stretch_camera_testrig" type="testrig_collect_data" output="screen">
    <param name="testrig_data_directory" type="string" value="$(arg testrig_data_directory)"/>
    <param name="samples" type="int" value="$(arg samples)"/>
  </node>
  
</launch>