<launch>
  <!-- Doc: http://wiki.ros.org/octomap_server?distro=kinetic -->

  <arg name="pointcloud_topic" />
  <arg name="base_link" default="base_link" />

  <!-- you can load an exisiting tree with <node ... args="tree.bt"> !-->
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_mapper" >
    <remap from="cloud_in" to="$(arg pointcloud_topic)" />
    <param name="base_frame_id" value="$(arg base_link)" />
    <param name="resolution" value="0.05" />
    <param name="frame_id" type="string" value="map" />
    <param name="sensor_model/max_range" value="3.0" />
    <param name="filter_ground" value="false" />

  </node>
</launch>
