<launch>
  <!-- Navigation stuff (move_base) -->
  <arg name="move_base_config" />
  <arg name="cmd_vel_topic" />
  <arg name="odom_topic" />
  <include file="$(find stretch_navigation)/launch/navigation/move_base.launch">
      <arg name="config" value="$(arg move_base_config)" />
      <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)" />
      <arg name="odom_topic" value="$(arg odom_topic)" />
  </include>
</launch>