<launch>

  <arg name="launch_drivers"  default="true"                           doc="whether to launch Stretch, D435i, Lidar, and other drivers" />
  <arg name="debug_directory" default="$(env HELLO_FLEET_PATH)/debug/" doc="path to directory where debug planning images/logs are stored" />
  <arg name="dryrun"          default="false"                          doc="whether run perception/planning without actually moving" />
  <arg name="rviz"            default="true"                           doc="whether to launch Rviz" />
  <arg name="respeaker"       value="false" />

  <!-- STRETCH DRIVERS -->
  <include file="$(find stretch_core)/launch/stretch.launch" if="$(arg launch_drivers)" pass_all_args="true" />

  <!-- MAPPING -->
  <node name="funmap" pkg="stretch_funmap" type="funmap" output="screen" >
    <param name="debug_directory" type="string" value="$(arg debug_directory)"/>
  </node>

  <!-- ALIGNED GRIPPER LINK -->
  <node name="aligned_gripper_link_tf_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 -0.5 0.4999968 0.5 0.5000032 /link_straight_gripper /link_straight_gripper_aligned 100" />

  <!-- GRASP OBJECT -->
  <node name="grasp_object" pkg="stretch_demos" type="grasp_object" output="screen">
    <param name="debug_directory" type="string" value="$(arg debug_directory)"/>
    <param name="dryrun" type="bool" value="$(arg dryrun)"/>
  </node>

  <!-- KEYBOARD TELEOP -->
  <node name="keyboard_teleop" pkg="stretch_core" type="keyboard_teleop" output="screen" args='--mapping_on --grasp_object_on'/>
  <!-- -->

  <!-- VISUALIZE -->
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find stretch_demos)/rviz/grasp_object.rviz" if="$(arg rviz)" />
  <!-- -->

</launch>
