<launch>

  <arg name="debug_directory" value="$(env HELLO_FLEET_PATH)/debug/"/>
  <arg name="launch_drivers"  default="true" doc="whether to launch Stretch, D435i, Lidar, and other drivers" />

  <!-- ROBOT DRIVERS -->
  <include file="$(find stretch_core)/launch/stretch_all_drivers.launch" if="$(arg launch_drivers)">
    <arg name="broadcast_odom_tf" value="false" />
    <arg name="fail_out_of_range_goal" value="false" />
    <arg name="rs_publish_frustum_viz" value="true" />
  </include>

  <!-- MAPPING -->
  <node name="funmap" pkg="stretch_funmap" type="funmap" output="screen" >
    <param name="debug_directory" type="string" value="$(arg debug_directory)"/>
  </node>

  <!-- HANDOVER POSITION DETECTOR -->
  <node name="detect_handover_position" pkg="stretch_deep_perception" type="detect_nearest_mouth_python3.py" output="screen" />

  <!-- HANDOVER OBJECT -->
  <node name="handover_object" pkg="stretch_demos" type="handover_object" output="screen"/>

  <!-- KEYBOARD TELEOP -->
  <node name="keyboard_teleop" pkg="stretch_core" type="keyboard_teleop" output="screen" args='--deliver_object_on'/>

  <!-- VISUALIZE -->
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find stretch_demos)/rviz/handover_object.rviz" />

</launch>
