<launch>

  <arg name="debug_directory" value="$(env HELLO_FLEET_PATH)/debug/"/>
  <arg name="launch_drivers"  default="true" doc="whether to launch Stretch, D435i, Lidar, and other drivers" />

  <!-- ROBOT DRIVERS -->
  <include file="$(find stretch_core)/launch/stretch_all_drivers.launch" if="$(arg launch_drivers)">
    <arg name="broadcast_odom_tf" value="false" />
    <arg name="fail_out_of_range_goal" value="false" />
    <arg name="rs_publish_frustum_viz" value="true" />
  </include>

  <!-- example of args for funmap that loads a map on launch (should have double hyphen before load_map) -->
  <!-- load_map FILENAME -->

  <!-- MAPPING -->
  <node name="funmap" pkg="stretch_funmap" type="funmap" output="screen" >
    <param name="debug_directory" type="string" value="$(arg debug_directory)"/>
  </node>

  <!-- HELLO WORLD! -->
  <node name="hello_world" pkg="stretch_demos" type="hello_world" output="screen">
    <param name="debug_directory" type="string" value="$(arg debug_directory)"/>
  </node>

  <!-- KEYBOARD TELEOP -->
  <node name="keyboard_teleop" pkg="stretch_core" type="keyboard_teleop" output="screen" args='--mapping_on --hello_world_on'/>

</launch>
