<launch>
    <arg name="device" default="" />
  
    <!-- publish audio data as wav format -->
    <node name="audio_capture" pkg="vz_ros_wrappers" type="audio_capture" output="screen">
      <param name="device" value="" />
      <param name="format" value="mp3" />
      <param name="channels" value="1" />
      <param name="depth" value="16" />
      <param name="sample_rate" value="16000" />
      <param name="device" value="$(arg device)" />
    </node>
  </launch>