<launch>
      <node pkg="vz_ros_wrappers" type="grab_D435i.py" name="D435i" />
      <node pkg="vz_ros_wrappers" type="grab_thermal.py" name="FLIRLepton" />
      <node pkg="image_transport" type="republish" name="D435iCompressed"
            args="raw in:=/D435i/image_raw compressed out:=/D435i/image_raw" />
      <!-- Flip images and display when collecting data? -->
      <param name="flip_images_grab_data" type="bool" value="true" />
      <param name="rgbd_topic" type="string" value="/D435i/image_raw" />
      <param name="thermal_topic" type="string" value="/Lepton/image_raw" />      
  </launch>