<launch>

  <!-- imu_filter_madgwick -->
  <node name="imu_filter_node" pkg="imu_filter_madgwick" type="imu_filter_node" output="screen">
    <remap from="imu/data_raw" to="/imu_mobile_base"/>
    <remap from="imu/mag" to="/magnetometer_mobile_base"/>
    <param name="use_mag" value="false"/>
    <param name="fixed_frame" value="map"/>
  </node>
  <!-- -->
</launch>

