<launch>

  <!-- STRETCH DRIVER -->
  <param name="/stretch_driver/broadcast_odom_tf" type="bool" value="true"/>
  <param name="/stretch_driver/fail_out_of_range_goal" type="bool" value="false"/>
  <include file="$(find stretch_core)/launch/stretch_driver.launch" pass_all_args="true"/>
  <!-- -->
    
  <!-- KEYBOARD TELEOP -->
  <node name="keyboard_teleop" pkg="stretch_core" type="keyboard_teleop" output="screen" args=''/>
  <!-- -->
    
</launch>
