<launch>

  <arg name="rs_resolution"          default="high"  doc="resolution of the color/depth images ('low' or 'high')" />
  <arg name="rs_enable_imu"          default="false" doc="whether to enable gyro/accel streams" />
  <arg name="rs_publish_frustum_viz" default="false" doc="whether to pub viz of cameras' frustums" />
  <arg name="rs_publish_upright_img" default="true"  doc="whether to pub rotated upright color image" />

  <!-- D435i DRIVER -->
  <include file="$(find stretch_core)/launch/d435i_$(arg rs_resolution)_resolution.launch" pass_all_args="true" />

  <!-- VISUAL PRESET CONFIGURATION -->
  <node name="d435i_configure" pkg="stretch_core" type="d435i_configure" output="screen" />

  <!-- FRUSTUM FIELD OF VIEW VISUALIZATION -->
  <node name="d435i_frustum_visualizer" pkg="stretch_core" type="d435i_frustum_visualizer" output="screen" if="$(arg rs_publish_frustum_viz)" />

  <!-- UPRIGHT ROTATED CAMERA VIEW -->
  <node name="upright_rotater" pkg="image_rotate" type="image_rotate" if="$(arg rs_publish_upright_img)">
    <remap from="image" to="/camera/color/image_raw" />
    <remap from="rotated/image" to="/camera/color/upright_image_raw" />
    <param name="target_frame_id" type="str" value="" />
    <param name="target_x" type="double" value="-1.5708" />
  </node>

</launch>
