<launch>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">

    <rosparam command="load" file="$(find stretch_core)/launch/stretch_ekf.yaml" />
    
    <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->
    
  </node>

</launch>