<?xml version="1.0"?>
<launch>
    <node name="joy" pkg="joy" type="joy_node" output="screen">
        <param name="dev" value="/dev/input/js0"/>
        <param name="autorepeat_rate" value="20"/>
        <param name="deadzone" value="0.05"/>
    </node>

    <node name="teleop_twist_joy" pkg="teleop_twist_joy" type="teleop_node">
        <remap from="/cmd_vel" to="/stretch_diff_drive_controller/cmd_vel"/>
    </node>
</launch>
