<launch>

  <arg name="launch_drivers"  default="true"                           doc="whether to launch Stretch, D435i, Lidar, and other drivers" />

  <!-- ROBOT DRIVERS -->
  <include file="$(find stretch_core)/launch/stretch_all_drivers.launch" if="$(arg launch_drivers)">
    <arg name="broadcast_odom_tf" value="false" />
    <arg name="fail_out_of_range_goal" value="false" />
    <arg name="rs_publish_frustum_viz" value="true" />
  </include>
   
  <!-- IMU FILTER -->
  <!-- <include file="$(find stretch_core)/launch/imu_filter.launch" /> -->
  <!-- -->

  <!-- ROBOT LOCALIZATION FILTER -->
  <!-- <include file="$(find stretch_core)/launch/stretch_ekf.launch" /> -->
  <!-- -->
</launch>