[data-md-color-primary=hello-robot-light]{
  --md-primary-fg-color: #122837;
  --md-primary-fg-color--light: hsla(0,0%, 100%, 0.7);
  --md-primary-fg-color--dark: hsla(0, 0%, 0%, 0.07);
  --md-primary-bg-color: hsla(341, 85%, 89%, 1.0);
  --md-typeset-a-color: #0550b3;
  --md-code-hl-number-color: hsla(196, 86%, 29%, 1);
}
[data-md-color-primary=hello-robot-dark]{
  --md-primary-fg-color: #122837;
  --md-primary-fg-color--light: hsla(0,0%, 100%, 0.7);
  --md-primary-fg-color--dark: hsla(0, 0%, 0%, 0.07);
  --md-primary-bg-color: hsla(341, 85%, 89%, 1.0);
  --md-typeset-a-color: hsla(341, 85%, 89%, 1.0);
  --md-code-hl-number-color: hsla(196, 86%, 29%, 1);
}


[data-md-color-scheme="slate"] {
  --md-hue: 210; /* [0, 360] */
}

/*
Tables set to 100% width
*/

.md-typeset__table {
    min-width: 100%;
}

.md-typeset table:not([class]) {
    display: table;
}
